<div class="dashboard">

  <div class="sidebar">

    <div class="sidebar-top">

      <h2>Employee Management</h2>

      <ul>
        <li><%= link_to "Dashboard", employees_path %></li>
        <li><%= link_to "Add Employee", new_employee_path %></li>
      </ul>

    </div>

    <div class="logout-section">
      <%= link_to "Logout",
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: "logout-link" %>
    </div>

  </div>
  
  <div class="content">

    <div class="header">

      <h1>Employees</h1>

      <%= link_to "Add Employee",
      new_employee_path,
      class:"add-btn" %>

    </div>

  <div class="table-container">  

  <table class="employee-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.department %></td>
        <td>₹<%= employee.salary %></td>

        <td>
          <div class="action-buttons">
            <%= link_to "✏️", edit_employee_path(employee), class: "edit-btn" %>

            <%= link_to "🗑️",
                employee_path(employee),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                },
                class: "delete-btn" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

  </div>
</div>