<div class="dashboard">

  <div class="sidebar">

    <h2>Employee Management</h2>

    <ul>
      <li>
        <%= link_to "Dashboard", employees_path %>
      </li>

      <li>
        <%= link_to "Add Employee", new_employee_path %>
      </li>

      <li>
        <%= button_to "Logout",
        logout_path,
        method: :delete %>
      </li>
    </ul>

  </div>

  <div class="content">

    <div class="header">

      <h1>Employees</h1>

      <%= link_to "Add Employee",
      new_employee_path,
      class:"add-btn" %>

    </div>

    <table>

      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Salary</th>
      </tr>

      <% @employees.each do |employee| %>

      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.department %></td>
        <td>₹<%= employee.salary %></td>
      </tr>

      <% end %>

    </table>

  </div>

</div>