<div class="dashboard">

  <div class="sidebar">

    <div class="sidebar-top">

      <h2>Employee Management</h2>

      <ul>

  <% if current_user.admin? %>

    <li>
      <%= link_to "Dashboard", employees_path %>
    </li>

    <li>
      <%= link_to "Add Employee", new_employee_path %>
    </li>

    <li>
      <%= link_to "Leave Management", leave_requests_path %>
    </li>

  <% else %>

    <li>
      <%= link_to "My Profile", profile_path %>
    </li>

    <li>
      <%= link_to "Apply Leave", new_leave_request_path %>
    </li>

    <li>
      <%= link_to "My Leaves", leave_requests_path %>
    </li>

  <% end %>

</ul>

    </div>

    <div class="logout-section">
      <%= link_to "Logout",
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: "logout-link" %>
    </div>

  </div>
  
  <div class="content">

  

    <div class="header-section">

      <h1>Employees</h1>

      <div class="header-actions">

      <%= link_to "Add Employee",
      new_employee_path,
      class:"add-btn" %>

      <%= form_with url: employees_path,
          method: :get,
          local: true,
          class: "search-form" do %>

        <%= text_field_tag :search,
            params[:search],
            placeholder: "Search employee name...",
            class: "search-input" %>

        <%= submit_tag "Search",
            class: "search-btn" %>

      <% end %>
      
      </div>


    </div>

  <div class="table-container">  

  <table class="employee-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.department %></td>
        <td>₹<%= employee.salary %></td>

        <td>
          <div class="action-buttons">
            <%= link_to "✏️", edit_employee_path(employee), class: "edit-btn" %>

            <%= link_to "🗑️",
                employee_path(employee),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                },
                class: "delete-btn" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

  </div>
</div>