<!DOCTYPE html>
<html>
  <head>
    <title>Employee Management</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

   <% if user_signed_in? %>
  <div class="top-navbar">

    <div class="user-profile-widget">

      <% if @current_employee&.profile_picture&.attached? %>

        <%= image_tag @current_employee.profile_picture,
            class: "widget-avatar" %>

      <% else %>

        <div class="avatar-placeholder">
          <%= current_user.email.first.upcase %>
        </div>

      <% end %>

      <div class="widget-info">
        <h4>
          <%= @current_employee&.name || current_user.email %>
        </h4>

        <span>
          <%= current_user.role&.capitalize || "Employee" %>
        </span>
      </div>

    </div>

  </div>
<% end %>

<%= yield %>

  </body>
</html>
